#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    z-index: 800;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.6s;
}

#loader {
    width: 100px;
    height: 10px;
    background: #dedede;
    position: relative;
    overflow: hidden;
}

#loader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #39b54a;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% { width: 0; }
    100% { width: 100%; }
}

body.loading {
    overflow: hidden;
}

body.loading > *:not(#preloader) {
    display: none;
}